.howto-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .howto-modal-content {
    background: #222;
    color: white;
    width: 500px; /* Make sure this matches SummaryModal */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .howto-close-button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  

